<html>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body>
	<button (click)="addTable()">Add Row</button> <br> <br>
	<table class="style">
		<tr>
      <th>Employee Id</th>
			<th>Employee Name</th>
			<th>Designation</th>
			<th>Salary</th>
			<th>Email</th>
      <th>Mobile</th>
      <th>Qualification</th>
      
		</tr>
		<tr *ngFor="let item of row; let i = index">
			<td><input type="number" ></td>
			<td><input type="text" ></td>
			<td>
        <select id="designation">
          <option value="manager">Manager</option>
          <option value="developer">Software developer</option>
          <option value="tester">Software tester</option>
          <option value="admin" selected>Admin</option>
        </select>
        
      </td>
      <td><input type="number" ></td>
			<td><input type="text" ></td>
			<td><input type="number"></td>
			<td> <button (click) = "deleteRow(i)"><i class="fa fa-trash"></i></button></td>
		</tr>
	</table>
</body>
</html>